<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>speedbuy后台登陆</title>
    <link rel="stylesheet" href="{CSS_PATH}layui.css">
    <link rel="stylesheet" href="{CSS_PATH}adminlogin.css">
</head>
<body>
<!--大括号里是后台输出的数据，通过调用name名字获取value值，括号内不可使用空格，否则无法识别-->
<!--<h1> {$name} </h1>-->
<div class="box">
    <img src="{IMG_PATH}logo.png" alt="速买聚实惠">
    <h2>后台登陆(CMS)</h2>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <i class="layui-icon layui-icon-username"></i>
            </label>
            <div class="layui-input-block">
                <input type="text" name="username" required  lay-verify="required|username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <i class="layui-icon layui-icon-password"></i>
            </label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
        <div class="wave waveTop"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom"></div>
    </div>
</div>
</body>
</html>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}adminlogin.js"></script>