<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/food.css"/>
    <link rel="stylesheet" type="text/css" href="./css/iconfont.css"/>
    <script src="./js/rem.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!--头部-->
	<header>
		<a href="index.html"class="position">
			<i class="iconfont icon-xiangzuo"></i>
			<span>返回</span>
		</a>
		<span>朴式拌饭</span>
		<a href="#" class="icon">
			<i class="iconfont icon-shoucang"></i>
			<i class="iconfont icon-fenxiang"></i>
		</a>
	</header>
	<!--food图片-->
	<div class="food-img">
		<div></div>
	</div>
	<!--商品介绍-->
	<div class="shop-explain">
		<div class="name">
			<h1>朴式拌饭</h1>
			<p>
				<span>月售237单</span>
				<span>好评95%</span>
			</p>
			<div>
				<div>&yen;15</div>
				<div class="icon">
                    <i class="iconfont icon-jian-copy"></i>
                    <span>1</span>
                    <i class="iconfont icon-jjia-"></i>
				</div>
			</div>
		</div>
		<div class="explain">
			<h2>商品描述</h2>
			<p>营养菌类杏鲍菇一份加鸡蛋干一份</p>
		</div>
		<div class="comment">
			<h2>顾客评价（823条）</h2>
		</div>
		<div class="none">
			<h2>暂无评价</h2>
		</div>
	</div>
    <!--猜你喜欢视窗-->
    <div class="recommend-w">
    	<!--猜你喜欢内容-->
    	<div class="recommend">
    		<!--猜你喜欢标题-->
    		<div class="recommend-title">
		        <div class="zw">
		        	<div class="zw-left"></div>
			        <div class="zw-text">猜你喜欢</div>
			        <div class="zw-right"></div>
		        </div>
		        <div class="yw">RECOMMEND FOOD</div>
	        </div>
	        <!--猜你喜欢文档部分-->
    	    <ul class="text">
    	    	<li>
    		    	<div class="img ri01"></div>
    		    	<div class="up">
    		    		<h2>剁椒鱼头</h2>
    		    		<p>月售231</p>
    			    	<div>
				            <div>&yen;85</div>
				            <div class="icon">
                                <i class="iconfont icon-jian-copy"></i>
                                <span>1</span>
                                <i class="iconfont icon-jjia-"></i>
				            </div>
			            </div>
    		    	</div>
    		    </li>
    		    <li>
    		    	<div class="img ri01"></div>
    		    	<div class="up">
    		    		<h2>剁椒鱼头</h2>
    		    		<p>月售231</p>
    			    	<div>
				            <div>&yen;85</div>
				            <div class="icon">
                                <i class="iconfont icon-jian-copy"></i>
                                <span>1</span>
                                <i class="iconfont icon-jjia-"></i>
				            </div>
			            </div>
    		    	</div>
    		    </li>
    		    <li>
    		    	<div class="img ri01"></div>
    		    	<div class="up">
    		    		<h2>剁椒鱼头</h2>
    		    		<p>月售231</p>
    			    	<div>
				            <div>&yen;85</div>
				            <div class="icon">
                                <i class="iconfont icon-jian-copy"></i>
                                <span>1</span>
                                <i class="iconfont icon-jjia-"></i>
                        </div>
			            </div>
    		    	</div>
    		    </li>
    		    <li>
    		    	<div class="img ri01"></div>
    		    	<div class="up">
    		    		<h2>剁椒鱼头</h2>
    		    		<p>月售231</p>
    			    	<div>
				            <div>&yen;85</div>
				            <div class="icon">
                                <i class="iconfont icon-jian-copy"></i>
                                <span>1</span>
                                <i class="iconfont icon-jjia-"></i>
				            </div>
			            </div>
    		    	</div>
    		    </li>
    	    </ul>
    	</div>
    </div>
<!--优惠提示-->
	<p class="discount">新用户下单立减14元</p>
	<!--购物车-->
	<div class="cart">
		<i class="iconfont icon-gouwuchekong"></i>
	</div>
	<!--结算栏-->
	<div class="pay">
		<div class="left">
			<span>未选购商品</span>
			<span>另需配送费11元</span>
		</div>
		<div class="right">
			<span>结算前请选购商品</span>
			<span>15元起配送</span>
		</div>
		</div>
	</div>
</body>
</html>