<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}swiper-4.4.1.min.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}index.css"/>
</head>
<body>
	<!--头部-->
	<header>
		<div class="position">
			<i class="iconfont icon-location"></i>
			<span>山西省大同市</span>
		</div>
			<a href="#" class="sousuo">
				<i class="iconfont icon-sousuo"></i>
				<span>请输入您要搜索的美食</span>
			</a>
	</header>
	<!--banner图-->
	<div class="banner swiper-container">
		<ul class="banner-img swiper-wrapper">
            {foreach $shop as $v}
			<li class="swiper-slide">
				<a href="/speedbuy/index.php/shop?sid={$v.sid}">
					<img src="{$v.sthumb}" alt="">
				</a>
			</li>
            {/foreach}
		</ul>
		<div class="banner-dian swiper-pagination"></div>
	</div>
	<!--美食分类选项-->
	<div class="foodentry-wrapper swiper-container">
		<div class="swiper-wrapper">
			{for $i=0 to $num}
			<ul class="swiper-slide">
				{assign var=list value=$i*8+7}
				{if $list > count($res)-1}
				{$list = count($res)-1}
				{/if}
				{for $j=$i*8 to $list}
				<li>
					<a href="/speedbuy/index.php/cate?cid={$res[$j]['cid']}" class="foodentry1">
						<img src="{$res[$j]['thumb']}" alt="{$res[$j]['title']}">
					</a>
					<p>{$res[$j]['title']}</p>
				</li>
				{/for}
			</ul>
			{/for}
		</div>
	</div>
	<!--推荐商家标题栏-->
	<div class="recommend">
		<div class="zw">
			<div class="zw-left"></div>
			<div class="zw-text">商家推荐</div>
			<div class="zw-right"></div>
		</div>
		<div class="yw">RECOMMEND FOOD</div>
	</div>
	<!--推荐商家分类选项-->
	<ul class="recommend-fl">
		<li class="hot" type="sid">综合排序</li>
		<li type="score">好评优先</li>
		<li type="sale">销量优先</li>
		<li type="fee">派送费</li>
	</ul>
	<!--推荐商家列表-->
	<div class="recommend-shop" id="wrapper">
        <div>
            <ul class="recommend-shop-ul">

            </ul>
            <div class="scrolldown">
                <i class="iconfont icon-jiazai"></i>
                <span>加载中...</span>
            </div>
        </div>
	</div>
	<!--tab栏-->
	<ul class="tab">
		<li class="hot">
			<a href="javascript:void (false)">
				<i class="iconfont icon-shouye"></i>
			    <p>首页</p>
			</a>
		</li>
		<li>
			<a>
				<i class="iconfont icon-find"></i>
			    <p>发现</p>
			</a>
		</li>
		<li>
			<a href="/speedbuy/index.php/order">
				<i class="iconfont icon-single"></i>
			    <p>订单</p>
			</a>
		</li>
		<li>
			<a href="/speedbuy/index.php/my/querymy">
				<i class="iconfont icon-icon7"></i>
			    <p>我的</p>
			</a>
		</li>
	</ul>
</body>
<script src="{JS_PATH}rem.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}swiper-4.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}iscroll-probe.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}index.js" type="text/javascript" charset="utf-8"></script>
</html>