{include file='header.html'};
{include file='slide.html'};
<link rel="stylesheet" href="{CSS_PATH}insertshop.css">
<div class="layui-body" style="padding: 50px">
    <form class="layui-form" action="">
        <!--所属分类-->
        <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
                <select name="cid" lay-verify="required">
                    <option value="0">一级标题</option>
                    {$str}
                </select>
            </div>
        </div>
        <!--店铺名称-->
        <div class="layui-form-item">
            <label class="layui-form-label">店铺名称</label>
            <div class="layui-input-block">
                <input type="text" name="shopname" required  lay-verify="required" placeholder="请输入店铺名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--缩略图-->
        <div class="layui-form-item">
            <label class="layui-form-label">缩略图上传</label>
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
        <!--预览缩略图-->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <ul class="imgBox">

            </ul>
        </div>
        <!--公告-->
        <div class="layui-form-item">
            <label class="layui-form-label">店铺公告</label>
            <div class="layui-input-block">
                <input type="text" name="notice" required  lay-verify="required" placeholder="请输入公告信息" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--派送费-->
        <div class="layui-form-item">
            <label class="layui-form-label">派送费</label>
            <div class="layui-input-block">
                <input type="text" name="fee" required  lay-verify="required" placeholder="请输入配送费" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--实景图片-->
        <div class="layui-form-item">
            <label class="layui-form-label">实景图片</label>
            <button type="button" class="layui-btn" id="test2">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
        <!--预览实景图片-->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <ul class="imgBox2">

            </ul>
        </div>
        <!--口号-->
        <div class="layui-form-item">
            <label class="layui-form-label">店铺口号</label>
            <div class="layui-input-block">
                <input type="text" name="slogan" required  lay-verify="required" placeholder="请输入店铺口号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--类型-->
        <div class="layui-form-item">
            <label class="layui-form-label">店铺</label>
            <div class="layui-input-block">
                <input type="text" name="stype" required  lay-verify="required" placeholder="请输入店铺名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--电话-->
        <div class="layui-form-item">
        <label class="layui-form-label">店铺电话</label>
        <div class="layui-input-block">
            <input type="text" name="sphone" required  lay-verify="required" placeholder="请输入店铺电话" autocomplete="off" class="layui-input">
        </div>
    </div>
        <!--隐藏的input，用来携带上传缩略图的路径-->
        <input type="hidden" name="sthumb">
        <!--隐藏的input，用来携带上传实景图的路径-->
        <input type="hidden" name="views">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    版权属于我
</div>
</div>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}insertshop.js"></script>
</body>
</html>