{include file='header.html'};
{include file='slide.html'};
<style>
    .layui-table-cell {
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .layui-btn-xs {
         height: auto;
        line-height: 30px;
        padding: 0px 16px;
        font-size: 14px;
    }
</style>
<div class="layui-body" style="padding: 50px">
    <table class="layui-hide" id="test"></table>
    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-xs edits" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs dels" lay-event="del">删除</a>
    </script>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    版权属于我
</div>
</div>
<script src="{LAYUIJS_PATH}layui.all.js"></script>
<script src="{JS_PATH}managecate.js"></script>
</body>
</html>