html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
input::-webkit-input-placeholder {
    color: #e6e6e6;
}
.box {
    width: 500px;
    height: auto;
    border: 1px solid #099668;
    padding: 15px 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    line-height: 6;
}
.box>h2 {
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}
.layui-form-item {
    position: relative;
}
.layui-form-item>.layui-form-label>i {
    position: absolute;
    left: 14px;
    color: #e6e6e6;
}
.layui-form-item>.layui-form-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.layui-form-item>.layui-input-block {
    margin-left: 0;
}
.layui-input {
    padding-left: 40px;
}
.layui-btn {
    width: 100%;
}
/*底部动画效果*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #3e3e3e 10%, #3ee3fb 90%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
    background-image: url('/speedbuy/static/images/wave-top.png');
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
    background-image: url('/speedbuy/static/images/wave-mid.png');
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
    background-image: url('/speedbuy/static/images/wave-bot.png');
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}