.imgBox,
.imgBox2 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 15px;
}
.imgBox>li,
.imgBox2>li {
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    position: relative;
    overflow: hidden;
}
.imgBox>li>img,
.imgBox2>li>img {
    width: 100%;
    height: 100%;
    display: block;
}
.imgBox>li>.mask,
.imgBox2>li>.mask {
    width: 148px;
    height: 148px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    transition: all ease-in .5s;
    opacity: 0;
}
.imgBox>li>.button,
.imgBox2>li>.button {
    width: 70px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
}
.imgBox>li>.button>i,
.imgBox2>li>.button>i {
    width: 30px;
    height: 30px;
    transition: all ease .5s;
    transform: scale(0,0) rotate(0deg);
}
.imgBox>li:hover .mask,
.imgBox2>li:hover .mask {
    opacity: 1;
}
.imgBox>li:hover>.button>i,
.imgBox2>li:hover>.button>i {
    color: #fff;
    font-size: 30px;
    transform: scale(1,1) rotate(360deg);
    animation: rubberBand 1s linear;
}
@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
